@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

h1 {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
}


nav {
    background-color: rgb(80, 79, 79);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
   background-color: white; 
   padding: 10px;
   margin: 10px;
   border-radius: 20px; /* Bordas arrendondadas */
   box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384); /* Sombras */
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: rgb(161, 150, 150);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}
